<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Sharing App</title>
  </head>
  <body>
    <div style="margin-bottom: 20px; color: red">
      <% if (locals.error) { %> Please enter correct password <% } %>
    </div>
    <form
      method="post"
      style="
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem;
        max-width: 500px;
      "
    >
      <label for="password">Share your Password here</label>
      <input type="password" name="password" id="password" required />

      <button type="submit" style="grid-column: span 2">Download File</button>
    </form>
  </body>
</html>
